.active {
    background-color: var(--primary-DEFAULT);
    color: var(--surface-DEFAULT);
}

.editable-content[contenteditable="true"] {
    border: 1px solid var(--content-30);
    padding: 10px;
    border-radius: 4px;
}

.inspect-wrapper {
    .tabs {
        box-shadow: color-mix(in srgb, var(--content-DEFAULT) 10%, transparent) 0px 10px 10px -10px;

    }
}
